.container {
  padding: 0 2rem;
}

.main {
  color: #d0d0d0;
  font-size: 18px;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main a {
  color: #ff904a;
  text-decoration: none;
}

.main a:hover,
.main a:focus,
.main a:active {
  text-decoration: underline;
}

.info {
  max-width: 520px;
  text-align: justify;
  color: #707070;
}

.info code {
  color: #808080;
  font-weight: bold;
}
